<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Elective</title>

    <link rel="stylesheet" href="styles/elem.css">
    <link rel="stylesheet" href="styles/adminChangeElec.css">
    <link rel="stylesheet" href="styles/navBar.css">
    <!-- Latest compiled and minified CSS -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
    integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        referrerpolicy="no-referrer" />
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
    
    <script src="https://unpkg.com/mustache@latest"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<style>
    body {
        background-image: url('http://localhost:5002/images/background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<body>
    <%- include('../utils/nav-bars/adminNavBar.ejs', { active: 'change' }) %>
    
    <div id="center-flex">
        <div class="con-row">
            <div class="con-card card1">
                <h3>Elective Change Requests</h3>

                <div class="list-content" style="margin-top: 20px;">
                    <ul class="list-group">
                        <% for (let i=0; i < changes.length; i++) { %>
                            <%- include('../utils/changeRequestTile.ejs', { dept: changes[i].dept, sem: changes[i].sem, email: changes[i].email, courseCode: changes[i].courseCode }) %>
                        <% } %>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script>
        function acceptRequest(mail) {
            console.log("accept request for mail "+ mail);
            const requestOptions = {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json'
                },
                body: JSON.stringify({ email: mail })
            };

            fetch('http://localhost:5002/admin/acceptChangeElective', requestOptions)
            .then(response => {
                if (response.ok) {
                    console.log("Electives changed successfully");
                    window.location.href = "/admin/changeElective";
                } else {
                    throw new Error("Failed to submit electives");
                }
            })
            .catch(error => {
                console.error('Error:', error);
                // Handle any errors that occurred during the request
            });
        }

        function rejectRequest(mail) {
            console.log("reject request for mail "+ mail);
        }
    </script>

</body>
</html>