<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Registrations</title>

    <link rel="stylesheet" href="styles/openRegis.css">
    <link rel="stylesheet" href="styles/navBar.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</head>
<style>
    body {
        background-image: url('http://localhost:5002/images/background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<body>
    <%- include('../utils/nav-bars/adminNavBar.ejs', { active: 'registrations' }) %>

    <div id="center-flex">
        <div class="con-row">
            <div class="con-card card1">
                <h4>Open Registrations</h4>
                <div class="list-content">
                    <ul class="list-group">
                        <% for (let i=0; i < regis.length; i++) { %>
                                <%- include('../utils/regisTile.ejs', { dept: regis[i].dept, sem: regis[i].sem, startDate: regis[i].startDate, endDate: regis[i].endDate }) %>
                        <% } %>


                    </ul>
                </div>
            </div>

            <div class="con-card card2">
                <h4>Open a Registration</h4>
                <form action="/admin/openRegistration" method="POST">
                    <div id="align-left">
                        <p class="form-title">Department</p>
                        <select name="dept" class="form-control" id="dept">
                            <option value="CSE">CSE</option>
                            <option value="ECE">ECE</option>
                            <option value="EEE">EEE</option>
                        </select>
                        <p class="form-title">Semester</p>
                        <select name="sem" class="form-control"s id="sem">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                        </select>
                        <p class="form-title">Number of electives</p>
                        <input class="black-text" type="number" name="numElectives" id="numElectives" min="1" max="4">
                        <p class="form-title">Start Data</p>
                        <input class="black-text" type="date" id="startDate" name="startDate"> 
                        <p class="form-title">End Data</p>
                        <input class="black-text" type="date" id="endDate" name="endDate"> 
                    </div>
                    <button type="submit" class="btn openBtn" id="open">Open</button>
                </form>
            </div>
        </div>
    </div>

</body>
</html>