<li class="list-group-item list-item">
    <p>Department: <span class="badge alert-info"><%= dept %></span>
        Semester: <span class="badge alert-success"><%= sem %></span><br>
        Open from <span class="badge alert-warning"><%= startDate %></span> - <span
            class="badge alert-danger"><%= endDate %></span>
    </p>
</li>