<li class="list-group-item list-item" style="background-color: rgb(96, 96, 96); color: white; border: 1px solid rgb(96, 96, 96)">
    <p>Department: <span class="badge alert-info">
            <%= dept %>
        </span>
        Semester: <span class="badge alert-success">
            <%= sem %>
        </span>
    </p>
    <p>
        Open from <span class="badge alert-warning">
            <%= startDate %>
        </span> - <span class="badge alert-danger">
            <%= endDate %>
        </span>
    </p>
</li>