@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,400;1,800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

.head-area {
  background-color: #142440;
  width: 100%;
  padding: 0 15px;
  z-index: 111;
  border-bottom: #909090ad;
}

.header-container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo-title {
  padding: 0 0;
}

.logo {
  float: left;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 10px;
}

.logo h1 {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}

.logo span {
  color: #ff4a44;
}

.menu1 {
  float: right;
  display: flex;
  padding: 10px 0;
}

.mobile-nav {
  display: none;
}

.menu1 li {
  display: flex;
  margin: 22px 5px;
  align-items: center;
  padding: 0 2px;
}

.menu1 li a {
  color: #fff;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 0 10px;
  transition: 0.5s;
}

.menu1 .active {
  color: #ff4a44;
}

.mobile-nav {
  float: right;
  margin: 10px;
  padding: 10px;
  font-size: 24px;
  color: #fff;
  outline: none;
  cursor: pointer;
}

#logout-btn {
  background-color: #ff4a44;
  /* Green */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}

@media only screen and (max-width: 978px) {
  .menu {
    float: none;
    position: absolute;
    background-color: #142440;
    width: 100%;
    left: 0;
    top: 85px;
    padding: 30px 0 150px 0;
    border-top: 1px solid #4a4848;
    clip-path: circle(0% at 100% 0%);
    transition: all 0.8s;
  }

  .menu1 li {
    display: block;
    text-align: center;
    margin: 25px 5px;
  }

  .mobile-nav {
    display: block;
  }

  .mobile-menu {
    clip-path: circle(112% at 100% 0%);
  }

  .menu1 li a:after {
    display: none;
  }
}

/* MY CSSSSS */

.con-row {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.con-card {
  height: 85vh;
  margin: 12px 10px;
  background-color: rgba(20, 36, 64, .6);
  border-radius: 10px;
  color: white;
  font-weight: 300;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.myCard {
  background-color: rgb(96, 96, 96);
  padding: 10px;
  padding-left: 15px;
  border-radius: 10px;
  text-align: start;
}

.card1 {
  width: 50%;
  overflow: hidden;
  overflow-y: scroll;
  position: relative;
  margin: 10px;
}

.card1::-webkit-scrollbar {
  display: none;
}

.card2 {
  width: 50%;
  position: relative;
  margin: 10px;
}

.card2::-webkit-scrollbar {
  display: none;
}

.dark-back {
  background-color: rgb(96, 96, 96);
  width: 30px;
}

.main-tile-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tile-con-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.hidden-content {
  background-color: rgb(96, 96, 96);
  border: 10px solid;
  border-color: white;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  margin-top: -10px;
  text-align: left;
}

.hidden-content-row-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.m-5pr {
  margin: 0 5%;
}

.m-b-15px {
  margin-bottom: 15px;
}

.m-t-10px {
  margin-top: 20px;
}

.m-0 {
  margin: 0px;
}
.m-r-5 {
  margin-right: 5px;
}

.bold {
  font-weight: bold;
}

.bg-red {
  background-color: #ff4a44;
}

.bg-wheat {
  border-radius: 10px 10px 0 0;
  background-color: wheat;
}

.empty {
  flex-grow: 1;
  margin-left: 5px;
}

.filter-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-self: center;
  margin: 20px 10px;
}
.filter-flex button {
  align-self: center;
  background-color: #ff4a44; 
  text-align: center;
  padding: 10px 15px;
}

.card1-content{
  overflow-y: scroll;
}

.proceedBtn {
  background-color: rgb(32, 32, 134);
  margin: 10px;
  margin-bottom: 10px;
}

.proceedPlacement {
  display: flex;
  flex-direction: row;
  justify-content: end;
  position: sticky; bottom: 0; right: 0;
  margin: 10px 5px;
}

.filter-card {
  background-color: rgb(96, 96, 96);
  border-radius: 10px;
  flex-grow: 1;
  margin: 0 10px;
  padding: 10px 0;
}

.filter-card-content{
  display: flex;
  flex-direction: column;
}

.check-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.checkboxes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.check-desc {
  margin-top: 5px;
  font-weight: 500;
}

.not-prereq {
  background-color: rgba(255, 74, 68, .6);
  display: inline;
  padding: 5px;
  border-radius: 4px;
}

.card2-con {
  margin: 0 20px;
}

.card2-con-flex {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.card2-title {
  display: flex;
  flex-direction: row;
}

.submitPlacement {
  position: absolute;
  bottom: 10px;
  right: 10px
}

.submitBtn {
  background-color: rgb(32, 32, 134);
  margin: 20px 20px;
}